body {
    color:black;
    background-color:rgb(237, 241, 245);
    overflow-x: hidden;
}

.paragraph {
 width: 45%;
 position: relative;
 left: 27%;
 text-align: justify;
}

#title {
    position: relative;
    right:1.5%;
    top:-1.5%;
    padding: 20px;
    background-color: rgb(25, 43, 143);
    font-size: 30px;
    width: 100%;
    color: white;
}

#title p {
    position: relative;
    left: 32%;
}

#intro {
    line-height: 30px;
    font-size: 20px;
    top:5%;
}

#brief {
    line-height: 30px;
    font-size: 20px;
    top:10%;
}

#defi {
    background-color: rgb(82, 104, 227);
    border-radius: 10px;
    color: white;
    display: inline-block;
    width: 20%;
    position: fixed;
    left: 4%;
    top: 25%;
    padding: 10px;
}


#content {
    background-color: rgb(82, 104, 227);
    border-radius: 10px;
    color: white;
    display: inline-block;
    width: 25%;
    position: fixed;
    left: 73%;
    top: 25%;
    padding: 10px;
    
}